### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
target/

### Ignore files ending with this extention ###
.class
/sica2.9.1/nbproject/private/
/sica-common/nbproject/private/
/sica-core/nbproject/private/
/SicaSpasa/nbproject/private/